{{define "main"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {{template "breadcrumb" .}}

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {{template "message" .}}
                {{template "content" .}}
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{{end}}