<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Register</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link href="/css/all.min.css" rel="stylesheet">
    <link href="/css/icheck-bootstrap.min.css">
    <link href="/css/adminlte.min.css" rel="stylesheet">
</head>

<body class="hold-transition register-page">
<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="" class="h1">{{ .AppName }}</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form action="{{ .RegisterOperationUrl }}" method="post">

                {{ with .Errors.email}}
                    <label class="col-form-label" for="inputError" style="color: orangered">
                        {{ range $message := . }}
                            <p>
                                <i class="far fa-times-circle"></i>{{ $message }}
                            </p>
                        {{ end }}
                    </label>
                {{ end }}
                <div class="input-group mb-3">
                    <input type="email" class="form-control {{ if .Errors.email }}is-invalid {{ end }}"
                           placeholder="Email" name="email" value="{{ .User.Email}}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                {{ with .Errors.username}}
                    <label class="col-form-label" for="inputError" style="color: orangered">
                        {{ range $message := . }}
                            <p>
                                <i class="far fa-times-circle"></i>{{ $message }}
                            </p>
                        {{ end }}
                    </label>
                {{ end }}
                <div class="input-group mb-3">
                    <input type="text" class="form-control {{ if .Errors.username }}is-invalid {{ end }}"
                           placeholder="Username" name="username" value="{{ .User.Username}}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"> </span>
                        </div>
                    </div>
                </div>

                {{ with .Errors.password}}
                    <label class="col-form-label" for="inputError" style="color: orangered">
                        {{ range $message := . }}
                            <p>
                                <i class="far fa-times-circle"></i>{{ $message }}
                            </p>
                        {{ end }}
                    </label>
                {{ end }}
                <div class="input-group mb-3">
                    <input type="password" class="form-control {{ if .Errors.password }}is-invalid {{ end }}"
                           placeholder="Password" name="password" value="{{ .User.Password}}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                {{ with .Errors.password_confirmation}}
                    <label class="col-form-label" for="inputError" style="color: orangered">
                        {{ range $message := . }}
                            <p>
                                <i class="far fa-times-circle"></i>{{ $message }}
                            </p>
                        {{ end }}
                    </label>
                {{ end }}
                <div class="input-group mb-3">
                    <input type="password"
                           class="form-control {{ if .Errors.password_confirmation }}is-invalid {{ end }}"
                           placeholder="Retype password"
                           name="password_confirmation"
                           value="{{ .User.PasswordConfirmation}}"
                    >
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                </div>

            </form>
            <a href="{{ .LoginViewUrl }}" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/adminlte.min.js"></script>
</body>
</html>